.profile{
  margin-left: 15px;
  width: 100%;
}
.profileItem {
  width: 100%;
  display: flex;
  padding: 15px 15px;
  min-height: 410px;
  background-color: #f0f0f0;
  border-radius: 4px;
}
.photo{
  width: 250px;
  height: 350px;
}
.info{
  padding-left: 10px;
  line-height: 30px;
}
.contacts{
  display: flex;
  flex-wrap: wrap;
}
.contact{
  border: #000000 1px solid;
  list-style-type: none;
}